/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face {
  font-family: 'NEXON Lv2 Gothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
div,
span,
applet,
object,
iframe,
article,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
input,
select,
button {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'NEXON Lv2 Gothic', 'NEXON Lv2 Gothic Bold', 'Nanum Gothic',
    'Noto Sans', sans-serif;
  box-sizing: border-box;
  list-style: none;
  color: #000;
}

html {
  overflow-x: hidden;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-image: linear-gradient(#5f1f86, #330952, #1e0530);
  background-attachment: fixed;
}
/* body::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
} */
/* 스크롤 y 부분 */

.mainContent {
  min-width: 280px;
  min-height: 467px;
  border: 1px solid transparent;
  box-sizing: border-box;
}

#topBtn {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 80%;
  left: 90%;
  background-image: url('./images/scrollUpBtn.svg');
  z-index: 10;
  transition: 0.5s;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  #topBtn {
    left: 87%;
  }
}
@media only screen and (max-width: 500px) {
  #topBtn {
    width: 60px;
    height: 60px;
    left: 84%;
  }
}
@media only screen and (max-width: 350px) {
  #topBtn {
    left: 80%;
  }
}

#typingEffect {
  font-family: 'NEXON Lv2 Gothic';
  font-size: max(2.8vw, 15px);
  line-height: max(5vw, 50px);
}
