/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face {
  font-family: 'NEXON Lv2 Gothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
input,
select,
button {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Nanum Gothic', 'Noto Sans', sans-serif;
  box-sizing: border-box;
  color: #000;
}

.App {
  width: max(375px, 100vw);
  height: max(667px, 100vh);
  background-image: linear-gradient(#5f1f86, #230638, #000000);
  font-family: 'NEXON Lv2 Gothic Bold';
}
.mainContent {
  min-height: 467px;
  border: 1px solid red;
  box-sizing: border-box;
}
